---
import Layout from "../../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import { languages } from "../../../i18n/ui";

import ProductDetails from "../../../components/ProductDetails.astro";
import Bc from "../../../components/Bc.astro";

export async function getStaticPaths() {
  const products = await getCollection("products");
  const langs = Object.keys(languages);

  return langs.flatMap((lang) =>
    products.map((product) => ({
      params: { lang, slug: product.data.id },
      props: { product, lang },
    }))
  );
}

const { product, lang } = Astro.props;
const { name, subname, specification, imageUrl, category } = product.data;
---

<Layout title={`${name}`}>
    <div class="row mb-4">
        <Bc 
          lang={lang} 
          categoryId={category} 
          productId={product.data.id} 
        />
    </div>

    <ProductDetails 
        productId={product.id} 
        lang={lang} 
    />
</Layout>
