---
import { Breadcrumb } from "astro-bootstrap";
import { getCategory, getProduct } from "../content/repository";
import type { Lang } from "../content/types";

type Props = {
  lang: string;
  categoryId?: string | undefined;
  productId?: string | undefined;
};

const { lang, categoryId, productId } = Astro.props;
const currentPath = Astro.url.pathname;

import { ui } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";
const t = useTranslations(lang as keyof typeof ui);

const category = categoryId
  ? await getCategory(categoryId, lang as Lang)
  : undefined;
const product = productId
  ? await getProduct(productId, lang as Lang)
  : undefined;
---

<style is:global>
  .breadcrumb {
    margin-top: 1em;
    --bs-breadcrumb-margin-bottom: 0 !important;
  }
</style>

<Breadcrumb>
  <Breadcrumb.Item>
    <a href={`/${lang}`} class="link-underline link-underline-opacity-0">
      <span class="d-flex align-items-center gap-1">
        <i class="bi bi-house-door-fill"></i>
        <span>{t("Home")}</span>
      </span>
    </a>
  </Breadcrumb.Item>

  {
    category && (
      <Breadcrumb.Item>
        {currentPath === `/${lang}/${category.id}` ? (
          <span>{category.name}</span>
        ) : (
          <a
            href={`/${lang}/${category.id}`}
            class="link-underline link-underline-opacity-0"
          >
            {category.name}
          </a>
        )}
      </Breadcrumb.Item>
    )
  }

  {product && <Breadcrumb.Item>{product.name}</Breadcrumb.Item>}
</Breadcrumb>
