---
import { repository } from "../content";

import { CldImage } from "astro-cloudinary";
import Specification from "./Specification.astro";

type Props = {
  productId: string;
};

const lang = Astro.currentLocale as string;
const { productId } = Astro.props;

const product = await repository.getProduct(productId, lang);
const imageId = await repository.getProductImageId(productId);
---

<div class="row">
  <div class="col-6">
    <CldImage
      class={"bg-dark h-100 w-100"}
      crop="fill"
      gravity="auto"
      format="auto"
      quality="auto"
      width={400}
      src={`eley.com.pl/${imageId}`}
      alt={product.name}
      sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
    />
  </div>
  <div class="col-6">
    <h1 class="display-4 fw-bold mb-0">{product.name}</h1>
    <p class="lead">Some extra powerful description.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <Specification specs={product.specification} lang={lang} />
  </div>
</div>
