---
import { CldImage } from "astro-cloudinary";

import type { Category } from "../content/types";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
  categories: Category[];
}

const lang = getLangFromUrl(Astro.url);
const { categories } = Astro.props;
---

<div class="row mt-4">
  {
    categories.length > 0 &&
      categories.map((category) => (
        <div class="col-6">
            <h4 class="fw-bold">{category.name}</h4>

            <a href={`/${lang}/${category.id}`}>
                <CldImage
                  class={"bg-dark h-100 w-100"}
                  crop="fill"
                  gravity="auto"
                  format="auto"
                  quality="auto"
                  width={400}
                  src={`eley.com.pl/${category.imgSrc}`}
                  alt={category.name}
                  sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
                />
            </a>
        </div>
      ))
  }
</div>
