---
import Layout from "../../layouts/Layout.astro";
import CategoryProducts from "../../components/CategoryProducts.astro";
import Bc from "../../components/Bc.astro";

import {
  findProductsByCategory,
  findCategories,
  getLanguages,
  getCategory,
} from "../../content/repository";
import { type Lang } from "../../content/types";

const { lang, category } = Astro.props;
const productCategory = await getCategory(category.id, lang as Lang);

export async function getStaticPaths() {
  const langs = await getLanguages();

  const paths = await Promise.all(
    langs.flatMap(async (lang) => {
      const categories = await findCategories(lang.code as Lang);
      return Promise.all(
        categories.map(async (category) => {
          const categoryProducts = await findProductsByCategory(
            category.id,
            lang.code
          );
          return {
            params: { lang: lang.code, category: category.id },
            props: { category, products: categoryProducts, lang: lang.code },
          };
        })
      );
    })
  );

  return paths.flat();
}
---

<Layout title={`${productCategory.name}`}>
  <div class="row mb-4">
    <Bc lang={lang} categoryId={category.id} />
  </div>

  <div class="row mb-5 align-items-center text-center">
    <h1 class="display-6 fw-bold">{productCategory.name}</h1>
    <p class="lead text-muted">
      Browse our premium selection of {productCategory.name} products.
    </p>
  </div>

  <CategoryProducts category={category} lang={lang as Lang} />
</Layout>
