---
import "bootstrap/dist/css/bootstrap.min.css";

interface Props {
  meta: {
    title: string;
    description: string;
    lang: string;
  };
  cta: string;
  categories: {
    data: {
      id: string;
      title: string;
      imgSrc: string;
    };
  }[];
}

const { meta, cta, categories } = Astro.props;
---

<!doctype html>
<html lang={meta.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{meta.title}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <main class="container text-center">
      <div class="">
        <img class="mx-auto d-block bg-dark" src="/eley-logo.png" />
      </div>

      <div class="row">
        <h1>{meta.title}</h1>
        <h2 class="mt-4">{meta.description}</h2>
        <h3 class="mt-4">{cta}</h3>
      </div>

      <div class="row mt-4">
        {
          categories.length > 0 &&
            categories.map((category) => (
              <div class="col-6">
                <h5 class="fs-6 mt-2">{category.data.title}</h5>
                <a href={`/${meta.lang}/${category.data.id}/`}>
                  <img
                    class="mx-auto d-block"
                    src={category.data.imgSrc}
                    alt={category.data.title}
                  />
                </a>
              </div>
            ))
        }
      </div>
    </main>
    <script>
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>
  </body>
</html>
