---
import "bootstrap/dist/css/bootstrap.min.css";
import { Navbar } from "astro-bootstrap";

import { getRelativeLocaleUrl } from "astro:i18n";
const currentLang = Astro.currentLocale as string;

import {types} from "../content";
import SplashSelector from "../components/SplashSelector.astro";
import LanguageSelector from "../components/LanguageSelector.astro";

import { CldImage } from "astro-cloudinary";

interface Props {
  meta: types.PageMetadata;
  categories: types.Category[];
}

const { meta, categories } = Astro.props;
---

<!doctype html>
<html lang={meta.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={getRelativeLocaleUrl(currentLang, "favicon.svg")} />
    <meta name="generator" content={Astro.generator} />
    <title>{meta.title}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <Navbar class="bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <CldImage
            class="mx-auto d-block bg-dark"
            crop="fill"
            gravity="auto"
            format="auto"
            quality="auto"
            height={48}
            src={`eley.com.pl/eley-logo`}
            alt={meta.title}
            sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
          />
        </a>
        <LanguageSelector />
      </div>
    </Navbar>
    <main class="container text-center">
      <div class="row">
        <h1 class="display-4 fw-bold">{meta.title}</h1>
        <h2 class="mt-4 text-secondary">{meta.description}</h2>
      </div>

      <SplashSelector categories={categories} />
    </main>
    <script>
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>
  </body>
</html>
